:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

body {
    background-color: #121214;
    margin: 0;
}

.divPrincipal {
    width: 52%;
    height: 680px;
    left: 0px;
    top: 0px;
    display: block;
    position: absolute;
    margin-left: 30px;
    padding-top: 50px;
    color: #E1E1E6;
    font-style: normal;
    z-index: 1;
    background-color: #121214;
    text-align: left;
}

.divPrincipal img {
    width: 390px;
}

h2 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #04D361;
}

h4 {
    font-family: 'League Spartan';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

p {
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

form {
    margin-top: 50px;
}

label {
    font-family: 'League Spartan';
    font-weight: 700;
    font-size: 14px;
    color: #A8A8A8;
}


.emailInput {
    position: absolute;
    display: flex;
    margin-top: 15px;
    filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
}

.retanguloVerde {
    background-color: #04D361;
    width: 5px;
}

input[type=email] {
    width: 800px;
    height: 50px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 10px;
    border: 0;
}

button {
    background-image: url('./images/send.svg');
    width: 50px;
    background-repeat: no-repeat;
    background-color: #8257e5;
    background-position: 45%;
    border: 0;
}


.linkLer {
    margin-top: 120px;
}

a {
    font-family: 'League Spartan';
    font-size: 14px;
    font-weight: 700;
    color: #8257e5;
    text-decoration: none;
    line-height: 24px;
}

.linkLer img {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-left: 7px;
}

.imgLateral {
    left: 279px;
    position: absolute;
}

.imgLateral img {
    width: 1070px;
    height: 100%;
}